// --------------
// TEXT
// --------------

$font-condense: 'Open Sans Condensed', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-anton: 'Anton', sans-serif;

// --------------
// COLOR
// --------------

$text-color: #212529;
$whitesmoke: #f5f5f5;
$green-light: #76b852;
